body {
    font-family: Arial, sans-serif;
    background-color: #255B7E;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    text-align: center;
    color: #333;
}

.contenedor {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #3EAFB4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="number"],
input[type="text"],
input[type="password"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #255B7E;
    color: #F4F4F5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #C1E6EE;
    color: #000;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Additional Styling for Error Message */
.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label {
    display: block;
}

.input-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-container input:focus {
    outline: none;
    border-color: #007bff;
}